*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://4k-wallpapers.net/uploads/posts/2021-02/thumbs/1614185673_valley-landscape-mountains-gradient-background-colorful-background.jpg);
    background-size:cover ;
}

h2{
   color: rgb(44, 231, 238);
}
button{
    background:linear-gradient(to left, #74ebd5, #9face6);
    border: none;
    border-radius: 5px;
    border-style: groove;
    height: 40px;
}

 
  
  form input{
    border: 1px solid rgba(211, 211, 211, 0.308);
    transition: all 0.3s;
  }


